a {
    padding-top: 20px;
    padding-left: 50px;
    text-decoration: none;
    font-weight: 100;
    font-style: '\f032';
    font-display: '\f133';
    font-variant: small-caps;
    color: rgb(12, 2, 2);
}

h1 {
    width: 100%;
    height: 70px;
    text-align: center;
    color: blue;
    background-color: rgb(228, 206, 228);
}